.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 200px);
    grid-auto-rows: 310px;
    grid-gap: 15px;
    justify-content: center;

    flex: 1;

    min-width: 200px;
    max-width: 1060px;
    border-radius: 13px;
    padding: 20px;
    margin: 20px;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3);
}